<doNotInclude></doNotInclude>
<div class="outer index-outer">
  <section id="main">
    <div class="index ">
      <% var split = page.content.split("<partbreak></partbreak>")  %>
      <% for(var i = 0; i<split.length; i++){
        if(i%2 === 0){ %>
          <div class="index-wrapper">
            <div class="index-section-wrapper">
              <div class="article-entry index-section">
                <%- split[i] %>
              </div>
            </div>
            <div class="image">
              <img src="<%= config.root + "images/" + page.sections[i] %>">
            </div>
          </div>
        <% } else { %>
          <div class="index-wrapper" id="flip">
            <div class="image" id="flip">
              <img src="<%= config.root + "images/" + page.sections[i] %>">
            </div>
            <div class="index-section-wrapper">
              <div class="article-entry index-section">
                <%- split[i] %>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </section>
</div>
